@font-face {
    font-family: Jokerman;
    src:url(Jokerman.ttf);
}

.container{
    font-family: 'Jokerman';
    font-size: 15pt;  
    color: orange;
    display: flex;
    justify-content: space-around;
}

body {
    background-color: cornflowerblue
}

.userPhoto{
    border-radius: 206px;
    height: 256px;
    width: 256px;
}

.title{
    font-family: 'Jokerman';
    font-size: 22pt;  
    color: rgb(243, 214, 52);
    display: flex;
    justify-content: center;
}

.images{
    border-radius: 206px;
    height: 30px;
    width: 30px;
}

